@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke no-repeat ;
    background-size: cover;
    background-position: center;
}
header
{
    position: fixed;
    top: 0;
    background: white;
    border-radius: 12px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin: 7px;
    padding-right: 50px;
    box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.247);

}
.logo
{
    display: flex;
    user-select: none;
    justify-content: center;
    align-self: center;
}
.logo img
{
    
    margin-left: 10px;
    height: 50px;
    width: 50px;

}

.btnlogin
{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(100, 91, 91);
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.1em;
    color: rgb(53, 44, 44);
    font-weight: 500;
    margin-left: 30px;
    transition: .5s;
}
.btnlogin:hover
{
    background: #2b6bc6;
    color: rgb(15, 14, 14);

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    border-top-right-radius: 15px;
    
    height: 100vh;
    width: 220px;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #080808;
    padding-top: 20px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #fbfdfe;
    padding: 12px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #2b6bc6;
    color: #fff;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}
.wrapper
{
  position: relative;  
  width: 400px;
  height: 400px;
  padding: 1%;
  background: transparent;
  border: 2px solid rgba(50, 50, 91, 0.573) ;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(6, 6, 6, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:  transform .5s ease,height .2s ease;
}
.wrapper.active-popup
{
    transform: scale(1);
}
.wrapper.active
{
    height: 520px;
}
.wrapper .login 
{
    width: 400px;
    padding: 30px;

}
.wrapper .register
{
    width: 400px;
    padding: 30px;
    position: absolute;
    transform: translateX(400px);
}
.wrapper .login
{
    transition: transform .18s ease;
    transform: translateX(0);
}
 .wrapper.active .login
 {
    transition: none;
    transform: translateX(-400px);
 }
 .wrapper.active .register
{
    transition: transform .18s ease;
    transform: translateX(0);
}
.login h2
{
    font-size: 2em;
    color: black;
    text-align: center;
}
.register h2
{
    font-size: 2em;
    color: black;
    text-align: center;
}
.box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(13, 12, 12);
    margin: 25px 0;
}
.box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(33, 29, 29);
    font-weight: 500;
    pointer-events: none;
}
.box input:focus~label,
.box input:valid~label
{
    top: -5px;

}
.box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.box .icon
{
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    color: rgb(28, 27, 27);
    line-height: 57px;
}
.remember-forget
{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input
{
    accent-color: rgb(40, 38, 38);
    margin-right: 3px;

}
.remember-forget a{
    color: black;
    text-decoration: none;

}
.remember-forget a:hover
{
    text-decoration: underline;
}
.btn
{
    width: 100%;
    height: 45px;
    background: rgb(24, 23, 23);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: rgb(239, 232, 232);
    font-weight: 500;
}
.login-register
{
    font-size: .9em;
    color:rgb(39, 38, 38) ;
    text-align: center;
    font-weight: 500;
    margin: 25px 00 10px;
}
.login-register p a {
    color: rgba(22, 21, 21, 0.852);
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover
{
    text-decoration: underline;
}




footer
{
    position: absolute;
    bottom: 0;
}